.header {
  letter-spacing: 20px;
  text-transform: uppercase;
}
.words {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-direction: column;
}
.words div {
  display: flex;
  gap: 5px;
}

.words h4 {
  border: 1px solid #111;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  text-transform: uppercase;
  flex-direction: column;
}
